* {
    padding: 0;
    margin: 0;
}

html {
    font: normal/1.5 Verdana, Arial, sans-serif;
}

body, table, form{
    font: inherit;
}

p {
    padding-bottom: 1.5em;
}

.site {
    max-width: 50em;
    margin: 0 auto;
    padding: 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 1.1;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

h1 {font-size: 2.8em;}
h2 {font-size: 2.3em;}
h3 {font-size: 1.9em;}
h4 {font-size: 1.5em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1em;}