*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

div.card{
    padding: 2em;
    border-radius: 0.5em;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 20px;
}