html{
    box-sizing: border-box;
}

div, section{
    display: flex;
    align-items: center;
}

div{
    max-width: 65vw;
}

span{
    border: 1px solid black;
}

.notes{
    flex-direction: column;
}
