@media screen and (max-width: 600px) {
    
    /* Navigation */
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar .navbar-brand {
        margin-right: unset;
    }

    /* Hero section */
    .hero {
        text-align: center;
    }

    .hero h1{
        margin-top: 80px;
    }

    .hero > img {
        display: none;
    }

    .hero .hero-btns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }

    /* Services section*/
    .services .service-txt {
        text-align: center;
    }

    .services .hero-btns.service-btn {
        margin-bottom: 80px;
    }

    .services .service-box {
        margin-bottom: 32px;
    }

    .services .side2-img img {
        top: 1900px;
    }

    /* About section */
    .about {
        text-align: center;
        margin-bottom: 80px;
    }

    .about img {
        margin-bottom: 60px;
    }

    /* Contacts section */
    .contact {
        text-align: center;
    }

    .contact .hero-btns {
        display: none;
    }

    /* Footer */
    footer .contact-nav {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    footer h6 {
        padding-bottom: unset;
    }
}